[user]
    name = Vasili Sviridov
    email = vasili@sviridov.ca

[push]
    default = simple

[pull]
    rebase = true

[core]
    editor = /usr/bin/vim

[merge]
    tool = bcompare

[diff]
    tool = bcompare

[mergetool "bcompare"]
    trustExitCode = true
    cmd = bcompare "$LOCAL" "$REMOTE" "$BASE" "$MERGED"

[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[difftool "bcompare"]
    trustExitCode = true
    cmd = bcompare \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"

[alias]
    ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"
